.section50 {
    width: 100%;
    height: 100vh;

    background-image: url(image/pexels-pixabay-50594.jpg);
    background-position: center;
    background-size: cover;
}
 /* display: none; لإخفاء الزر بشكل افتراضي */

.section55{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;



}

.section58{
  margin-top: 100px;
}
/* تصميم الأيقونة */


/* يمكنك إضافة المزيد من الأنماط للعناصر الأخرى في الوضع المظلم */


* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}



/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}














#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none; لإخفاء الزر بشكل افتراضي */

  background-color: #555;
  color: rgb(11, 11, 11);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* لضمان ظهور الزر فوق المحتوى */
}

#scrollToTopBtn:hover {
  background-color: #333;

}


/* 

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
}




















.section50 div {
    color: white;
    padding: 200px 200px;
}




.container-fluid{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    width: 100%;
    background: none;
    
  }
  
  .navbar div .navbar-brand{
    font-size: 40px;
    font-weight: bold;
  
      font-family: "Gulzar", serif;
      font-weight: 400;
      font-style: normal;
    
    
  }
  .section10 h1{
    text-align: center;
  }
  .clock {
    font-size: 3em;
    background: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #time {
    font-size: 2em;
  }
  .section1{
    position: relative;
      padding: 200px 100px;
        width: 100%;
      height: 100vh;
      background-position: center;
      background-attachment: fixed;
      background-size: cover;
      background-image: url(image/pexels-pixabay-161276.jpg);
  }
  
  
  .div33 div a .fa-phone{
    color: rgb(98, 177, 98);
  }
  
  .div33 div a .fa-instagram{
   color: rgb(116, 23, 23);
  }
  
  
  .div33 div div a{
    transition: 1s;
  }
  
  .div33 div div a :hover{
    transform: scale(1.2);
  }
  
  
  
  
  .section1 .aaa{
    margin-top: 33px;
   
  }
  
  
  
  .cc{
    position: absolute;
  
    margin-right: 83%;
    margin-bottom: 100px;
  }
  .section1 h1{
      color: rgb(255, 255, 255);
      font-size: 60px;
  }
  
  
  
  section button{
   background: rgb(58, 91, 104);
   border: solid 4px white;
   color: white;
   font-size: 30px;
   font-weight:bold;
   border-radius: 20px;
   transition: 1s;
   
  }
  
  
  section button:hover{
    transform: scale(1.2);
   
    background: none;
  }
  
  
  .section2 h1{
    text-align: center;
    margin-top: 60px;
  }
  
  
  
  
  .content{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }
  
  
  
  section .content1{
    display: flex;
   text-align: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px;
  }
  
  section .content1  .card{
      width: 45%;
      margin-top: 20px;
     
      height: 130px;
      margin-right: 3%;
      transition: 1s;
  
      
  }
  .dd{
    text-align: center;
    margin-top: 20px;
  }
  
  section .content1  .card:hover{
  
  
    transform: scale(1.2);
  }
  section .content1 .card a{
    text-decoration: none;
  }
  
  section .content1 .card .info{
   display: flex;
    padding-top: 10px;
    color: #000;
  
  
   
  }
  
  
  section .content1 .card .info p{
    margin-top: 10px;
  }
  
  
  
    
  section .content1 .card .info img{
  
  
    width: 100px;
    border-radius: 50%;
    margin-left: 5px;
    
    
  }
  
  section .content1 .card .info .image{
  margin-right: 50px;
  }
  
  .container {
    text-align: center;
    margin-top: 40px;
  }
  
  .slideshow {
    position: relative;
    width: 1000px;
    height: 200px;
    border-radius: 8px;
    margin: auto;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .slide {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  
  .controls {
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
    margin: 5px;
  }
  
  #counter {
    font-size: 18px;
  }
  
  
  .container div button{
   margin-left: 30px;
  
   
  }
  
  
  
  
  
  
  .section10{
    margin-top: 100px;
    margin-bottom: 40px;
  }
  
  
  
  .container {
    margin-top: 100px;
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f7f7f7;
  }
  
  
  
  
  
  
  
  
  
  
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #content {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  
  
  
  
  
  
  
  
  
  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  /* h1, h2 {
    text-align: center;
  } */
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #ddd;
  }
  
  #ayahs-container {
    margin-top: 20px;
  }
  
  #ayahs-list {
    list-style-type: none;
    padding: 0;
  }
  
  #ayahs-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #e0e0e0;
    border-radius: 5px;
  }
  
  
  .content5{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .content5 .imgs{
    min-height: 100px;
    min-width: 180;
    box-shadow: 0 0 5px rgb(0,0,0,4);
    margin: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: 2s;
  }
  
  .content5 .imgs:hover{
    transform: scale(1.2);
  }
  
  
  
  
  
  
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
  }
  
  .contact-form h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .contact-form label {
    display: block;
    margin-top: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #4cae4c;
  }
  
  #responseMessage {
    margin-top: 10px;
    text-align: center;
  }
  
  
  .div33{
    /* position: relative; */
     width: 100%;
     height: 50vh;
     background: rgb(40, 66, 77);
  
    border-top-left-radius: 90%;
  
    
    border-top-right-radius: 90%;
  
    border-bottom-left-radius: 500px;
  
    border-bottom-right-radius: 500px;
  }
  
  
  .div33 div {
    text-align: center;
    margin-top: 100px;
   padding-top: 10px;
  
  }
  
  
  
  .div33 div .www{
    color: #000;
  }
  .div33 div a{
    font-size: 50px;
    padding: 50px;
    text-decoration: none;
  
   
   
  }
  
  
  /* 
  .container{
    border: solid 3px violet;
    width: 100%;
  }
  
  .container .slideshow{
    border: solid 5px skyblue;
  } */
  
  @media (min-width:0) and (max-width: 600px){
    .container .slideshow{
      width: 400px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }


    .section50{
      width: 100%;
    }

    .section2{
      text-align: center;
      margin-left: 50%;
    }
    .container-fluid{
      width: 100%;
    }
  
    .section1 div h1{
      font-size: 15px;
    }
  
    .section1 button{
      font-size: 15px;
      /* width: 15px; */
    }
  
    section .content1 {
      display: block;
      margin-left: 30px;
      text-align: center;
     
    }
  
    section .content1 .card .info img{
      width: 100px;
      height: 100px;
    }
  
    section .content1 .card .info .image {
      margin-top: 20px;
    }
    section .content1 .card{
      width: 100%;
      margin-left: auto;
      height: 230px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
       
    }
    section .content1 .card .info{
      margin-left: 30px;
   

    }
   
  
  }
  
  /* الهواتف الذكية (عرض أقل من 600px) */
  @media (max-width: 600px) {
    /* .container{
      width: 600px;
      height: 300px;
    } */


    .section50{
      width: 100%;
    }
    .container-fluid{
      width: 100%;
    }
    .container .slideshow{
      width: 320px;
      height: 450px;
      padding: 30px;
    
    }
    .section1 div h1{
      font-size:  15px;
    }
  
    .section1 button{
      font-size: 15px;
      /* width: 15px; */
    }
  
  
    section .content1 {
      /* display: block;  */
      margin-left: 30px;
      text-align: center;
     
    }
  
    section .content1 .card .info img{
      width: 100px;
      height: 100px;
    }
    section .content1 .card{
      width:300px;
      margin-left: auto;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
       
    }
    section .content1 .card .info{
      margin-left: 30px;
    }
   
   
  }
  
  
  /* الأجهزة اللوحية (عرض بين 600px و 900px) */
  @media (min-width: 600px) and (max-width: 900px) {
  
    .container .slideshow{
      width: 400px;
      height: 300px;
    
    }

    .section50{
      width: 100%;
    }

    .container-fluid{
      width: 100%;
    }
    .section1 div h1{
      font-size: 30px;
    }
  
    .section1 button{
      font-size: 25px;
      /* width: 15px; */
    }
  
  
    section .content1 {
      
      margin-left: 30px; */
       

      text-align: center;
     
     }
  
    section .content1 .card .info img{
      width: 100px;
      height: 100px;
    }
    section .content1 .card{
      width: 100%;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
     padding: 0 100px;
       
    }
    section .content1 .card .info .image {
      margin-top: 20px;
    }
    section .content1 .card .info{
      margin-left: 30px;
    }
   
    .section50{
      width: 100%;
    }
     
      
  }
  
  /* الشاشات الصغيرة إلى المتوسطة (عرض بين 900px و 1200px) */
  @media (min-width: 900px) and (max-width: 1200px) {
    .container .slideshow{
      width: 400px;
      height: 300px;
    
    }


    .section50{
      width: 100%;
    }
    .section1 div h1{
      font-size: 40px;
    }

    .container-fluid{
      width: 100%;
    }
  
    .section1 button{
      font-size: 25px;
      /* width: 15px; */
    }
  
  
  
    section .content1 {
      
      margin-left: 30px;
     
    }
  
    section .content1 .card .info img{
      width: 100px;
      height: 100px;
    }
    section .content1 .card{
      width:45%;
      margin-left: auto;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
       
    }
    section .content1 .card .info{
      margin-left: 30px;
    }
   
  
     
      
  }
  
  
    
    
  
  
  @media (min-width: 1200px)and (max-width:1600px) {
  
    .container .slideshow{
      width: 800px;
      height: 300px;
    
    }
  
    section .content1 {
      
      margin-left: 30px;
     
    }
    .container-fluid{
      width: 100%;
    }
    section .content1 .card .info img{
      width: 100px;
      height: 100px;
    }
    section .content1 .card{
      width:45%;
      margin-left: auto;
      /* height: 200px;
      display: flex;
      justify-content: center;
      align-items: center; */
       
    }
    section .content1 .card .info{
      margin-left: 30px;
    }
   
  
     
      
  }
  
  /* الشاشات الصغيرة إلى المتوسطة (عرض بين 900px و 1200px) */
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  body.day {
    background-color: white;
    color: black;
  }
  
  body.night {
    background-color: black;
    color: white;
  }
  
  #toggleMode {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* styles.css */
  
  #toggleButton {
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .content {
    padding: 20px;
  }











  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }